<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>[% title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body bgcolor="white">
<p><strong>King James Bible Search Form</strong></p><p>This is a very rudimentary search engine for the King James
version of the Bible.
(It serves as a simple demonstration of MySQL's basic
FULLTEXT capabilities.)
</p><form method="post" action="http://main.site/cgi-bin/kjv.search.icky.cgi" enctype="multipart/form-data">
<table><tr><td>What to search:</td> <td>
<select name="book"  id="book">

        <optgroup label="Section">
        [% FOREACH meta IN metalist.keys.sort %]
            <option value="[% meta %]">
                [%- metalist.$meta -%]
            </option>
        [% END %]
        </optgroup>

        <optgroup label="Books">
        [% FOREACH book IN books.keys.nsort %]
            <option value="[% book %]">
                [%- books.$book -%]
            </option>
        [% END %]
        </optgroup>

        <optgroup label="Provinces">
        [% FOREACH province IN provinces.keys.sort %]
            <option value="[% province %]">
                [%- provinces.$province -%]
            </option>
        [% END %]
        </optgroup>
            

</select>
</td>
</tr> 
<tr><td>Word or words to search for:</td> <td><input type="text" name="phrase"  size="60" /></td></tr> 
<tr><td>Treat words as phrase:</td> <td><label><input type="radio" name="as_phrase" value="1" />yes</label> <label><input type="radio" name="as_phrase" value="0" checked="checked" />no</label></td></tr>
<tr><td>Return count only:</td> <td><label><input type="radio" name="count_only" value="1" />yes</label> <label><input type="radio" name="count_only" value="0" checked="checked" />no</label></td></tr>
</table>
<br /><input type="submit" name="choice" value="Search" /><div><input type="hidden" name=".cgifields" value="count_only"  /><input type="hidden" name=".cgifields" value="as_phrase"  /></div>

</form>
<hr />Comments or questions? Contact <a href="mailto:somebody@somewhere.com">My Email</a>.<br />
</body>
</html>
